{{#>admin}}
{{#*inline "content"}}
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-10">Manage Products</div>
                <div class="col-2"><a href="/admin/products/create" class="btn btn-primary">Create product</a></div>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each viewData.products}}
                <tr>
                    <td>{{getId}}</td>
                    <td><img src="https://carmine-nestjs-books-store.s3.us-east-1.amazonaws.com/products/{{getImage}}" alt="{{getName}}" width="100px"></td>
                    <td>{{getName}}</td>
                    <td>
                        <a href="/admin/products/{{getId}}" class="btn btn-info">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                    </td>
                    <td>
                        <form action="/admin/products/{{getId}}/delete" method="post">
                            <button class="btn btn-danger">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
            </table>
        </div>
    </div>
{{/inline}}
{{/admin}}